.form{
  width:340px;
  height:440px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
}

.form h2{
  margin:10px 50px;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
  border-bottom:3px solid #78788c}

.form p:before{
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a}

.form button{
  position: relative;
  padding:15px 35px;
  background: crimson;
  border-radius: 50px;
  border-color: white;
  font-family: 'Montserrat',sans-serif;
  color: #fff;}

button:hover{
  background:#78788c;
  cursor: pointer;
  color:#fff}
